@font-face {
  font-family: invited;
  src: url(../public/fonts/invited.ttf);
}
@font-face {
  font-family: us;
  src: url(../public/fonts/us.ttf);
}
@font-face {
  font-family: dream;
  src: url(../public/fonts/dream.ttf);
}
@font-face {
  font-family: location;
  src: url(../public/fonts/location.ttf);
}
@font-face {
  font-family: after;
  src: url(../public/fonts/after.ttf);
}
.outerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 28, 28);
  height: 800px;
}
.flip-card-front {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 360px;
  height: 650px;
  margin-top: 20px;
  border: 1px solid rgb(50, 50, 50);
  padding-left: 10px;
  padding-right: 10px;
  background-image: url(../public/back.jpg);
  background-repeat: round;
  margin-bottom: 20px;
  border-radius: 10px;
}
.when {
  font-family: location;
  font-size: 20px;
}
.invited {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 10px;
  font-size: 50px;
  font-family: invited;
}
.join {
  margin: auto;
  padding-right: 100px;
  padding-bottom: 10px;
  font-family: us;
}
.us {
  display: flex;
  margin: auto;
  font-size: 45px;

  font-family: us;
}
.usOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weddingDay {
  display: flex;
  justify-content: center;
  margin: auto;
  font-family: after;
}
.outerDate {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-top: 10px;
}
.outerTime {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.location {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: location;
}
.outerWhere {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.where {
  margin: auto;
  font-family: dream;
}
.outerDress {
  display: flex;
  justify-content: center;
  align-items: center;
}
.note {
  padding-right: 200px;
  margin: auto;
  font-family: location;
  font-size: 20px;
  height: 20px;
  padding-bottom: 5px;
}
.event {
  margin: auto;
  display: flex;
  justify-content: center;

  font-family: after;
}

.rsvpButton {
  font-family: us;
  font-weight: bold;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 95px;
  background: none;
  border: 2px solid rgb(61, 61, 61);
  border-radius: 4px;
}
.dress {
  font-family: location;
  font-size: 20px;
}
.date {
  font-family: after;
  padding-left: 8px;
}
.time {
  font-family: after;
  padding-left: 8px;
}
.style {
  font-family: after;
  padding-left: 8px;
}
.outerDress {
  height: 40px;
}
.contactUsBox {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactLabel {
  padding-bottom: 10px;
  font-family: us;
  font-size: 15px;
}
.contactInput {
  margin-bottom: 17px;
  width: 200px;
  border: 1px solid grey;
  height: 25px;
  width: 250px;
  border-radius: 5px;
}
.submitButton {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  background: none;
}
.flip-card {
  background-color: transparent;
  max-width: 400px;
  min-width: 360px;
  height: 650px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.turn .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 360px;
  height: 650px;
  border: 1px solid rgb(50, 50, 50);
  background-image: url(../public/back.jpg);
  background-repeat: round;
  border-radius: 10px;
}
@media screen and (max-width: 400px) {
  .flip-card-back, .flip-card-front{
    padding-left: 10px;
    padding-right: 10px;
  }
}
.backButton {
  background: none;
  border: none;
  font-size: 25px;
  margin-bottom: 120px;
  margin-top: 40px;
}
.locationLink {
  text-decoration: none;
  font-family: us;
  font-weight: bold;
  width: 200px;
  background: none;
  border: 2px solid rgb(61, 61, 61);
  border-radius: 4px;
  color: black;
  font-size: 14px;
  margin-top: 2px;
}
.onSubmit {
  background: none;
  border: 2px solid grey;
  font-family: us;
  border-radius: 3px;
}
.icon {
  color: rgb(85, 85, 85);
}
